.git
.github

.env
.env.*

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

database/database.sqlite

npm-debug.log
yarn-error.log

.idea
.vscode

.DS_Store
Thumbs.db